#profile-posts {
  margin-top: 50px;
}

#profile-posts .content-card {
  background-color: var(--grayscale_1);
}

.profile-post-results {
  margin-top: 16px;
}
.profile-post-heading {
  display: flex;
  flex-direction: row;
}
.profile-posts-chevron {
  background-color: var(--lightGrayscale_2);
  border-radius: 20px;
  width: 50px;
  padding: 0px 10px;
  margin: 0px 10px;
  transition: all 0.2s;
}
.profile-posts-chevron:hover {
  background-color: var(--grayscale_2);
}

.profile-posts-chevron:active {
  border: solid;
  border-width: 2px;
  border-color: var(--grayscale_1);
}

.profile-posts-chevron-transform {
  transform: rotate(180deg);
}

.post-author-avatar {
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--grayscale_2);
  height: 75px;
  width: 75px;
  min-width: 75px;
  align-items: center;
}
.post-author-avatar > div {
  text-align: center;
  font-size: x-large;
  width: 100%;
}

.post-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.post-author-avatar img {
  height: 100%;
  width: 100%;
}

.post-author-info {
  width: 100%;
  margin-left: 24px;
}

.post-author-info > :first-child {
  margin-bottom: 8px;
}

/* SKELETON LOADING */
.post-content.skeleton-block {
  height: 125px;
  margin-bottom: 8px;
}
