:root {
  --darkNavy: #3c455b;
  --primary: #58b1c9;
  --secondary: #52c1ad;
  --warning: #c152a2;

  --grayscale_0: #ffffff;
  --grayscale_1: #f8f7f7;
  --grayscale_2: #dbdbdb;
  --midnightBlack: #3a3a3a;
  --deepSmoke: #525252;
}
